{% extends 'app/base.html' %}
{%  load crispy_forms_tags %}
{% block css %}
.main{
    margin-left:450px;
}
.card{
    margin:30px;
}
{% endblock css %}
{% block body %}
<div class="container mt-4">
    <div class="shadow-lg p-3 w-25 mb-5 bg-white main border">
        <div class="card border-0">
            <form action="{% url 'app:add' %}" method="post">
                {% csrf_token %}
                <h3 class="text-info text-center mb-4">Add Row</h3>
                {% for field in form %}
                <div class="form-group">
                    <label class="text-info">{{ field.label_tag }}</label><br>
                    {{ field }}
                </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-secondary">Add Row</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}