{% extends 'app/base.html' %}
{% block body %}
<div class="container mt-5">
<H1 class="mb-4"><FONT COLOR="DARKCYAN"><CENTER>COLLEGE TIME TABLE</CENTER></FONT></H1>
    <div class="table-responsive">
        <table class="table text-center table-striped table-bordered border-secondary">
            <tr>
                <th>Time</th>
                <th>MONDAY</th>
                <th>TUESDAY</th>
                <th>WEDNESDAY</th>
                <th>THURSDAY</th>
                <th>FRIDAY</th>
                <th>SATURDAY</th>
                <th>Sunday</th>
                <th>Update</th>
            </tr>
            {% for tb in tb %}
            <tr>
                <th>{{ tb.time }}</th>
                <td style="color:red;">{{ tb.monday }}</td>
                <td style="color:green;">{{ tb.tuesday }}</td>
                <td style="color:blue;">{{ tb.wednesday }}</td>
                <td style="color:#cf7515;">{{ tb.thursday }}</td>
                <td style="color:#1c1c1b;">{{ tb.friday }}</td>
                <td style="color:#cf15aa;">{{ tb.saturday }}</td>
                <td style="color:#360f99;">{{ tb.sunday }}</td>
                <td><a class="btn btn-secondary" href="{% url 'app:update' tb.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <a class="btn btn-secondary" href="{% url 'app:add' %}">Add Row</a>
</div>
{% endblock body %}